@use './_colors.scss';

.calculator {
  width: 500px;
  border: 2px solid colors.$light-gray;
  margin-inline: auto;

  &__display {
    width: 100%;
    background-color: colors.$light-gray;

    &-input {
      background: transparent;
      font-size: 2rem;
      width: 100%;
      text-align: right;
      padding-block: 1rem;
      outline: none;
      border: none;
      color: colors.$light;
    }
  }

  &__keypad {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    gap: 2px;

    &-btn {
      flex-basis: calc((100% - 6px)/4);
      padding: 0;
      border-radius: 0;
      font-size: 1.2rem;
      border: none;

      &.zero-btn {
        flex-basis: calc((100% - 6px)/2 + 2px);
      }

      &.operation {
        background-color: colors.$orange;

        &:hover {
          background-color: #b9712d;
        }

        &:active {
          background-color: #864c1e;
        }
      }
    }
  }
}